{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        <img src="{% static 'images/logotip.png' %}" class="logo"/>
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 1500px;">
            <nav>
                <ul>
                    <li><div><a href="/">Главная</a></div></li>
                    <li><div style="background-color: #FAB162;"><a style="color: #FFFFFF !important;" href={% url 'all' %}>Общая статистика</a></div></li>
                    <li><div><a href={% url 'demend' %}>Востребованность</a></div></li>
                    <li><div><a href={% url 'geography' %}>География</a></div></li>
                    <li><div><a href={% url 'skills' %}>Навыки</a></div></li>
                    <li><div><a href={% url 'lastVacancy' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text">
            <img class="all_graph_1" src={% static "images/demend1_general.png" %}/>
            <img class="all_graph_2" src={% static "images/demend2_general.png" %}/>
            <div class="tables">
                <table border="1" class="dataframe">
                    <thead>
                      <tr style="text-align: right;">
                        <th></th>
                        <th>Количество вакансий</th>
                      </tr>
                      <tr>
                        <th>Год</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>2005</th>
                        <td>1836</td>
                      </tr>
                      <tr>
                        <th>2006</th>
                        <td>16229</td>
                      </tr>
                      <tr>
                        <th>2007</th>
                        <td>24000</td>
                      </tr>
                      <tr>
                        <th>2008</th>
                        <td>30627</td>
                      </tr>
                      <tr>
                        <th>2009</th>
                        <td>20989</td>
                      </tr>
                      <tr>
                        <th>2010</th>
                        <td>31930</td>
                      </tr>
                      <tr>
                        <th>2011</th>
                        <td>42282</td>
                      </tr>
                      <tr>
                        <th>2012</th>
                        <td>49309</td>
                      </tr>
                      <tr>
                        <th>2013</th>
                        <td>68149</td>
                      </tr>
                      <tr>
                        <th>2014</th>
                        <td>75828</td>
                      </tr>
                      <tr>
                        <th>2015</th>
                        <td>78934</td>
                      </tr>
                      <tr>
                        <th>2016</th>
                        <td>85740</td>
                      </tr>
                      <tr>
                        <th>2017</th>
                        <td>95811</td>
                      </tr>
                      <tr>
                        <th>2018</th>
                        <td>149308</td>
                      </tr>
                      <tr>
                        <th>2019</th>
                        <td>130763</td>
                      </tr>
                      <tr>
                        <th>2020</th>
                        <td>144260</td>
                      </tr>
                      <tr>
                        <th>2021</th>
                        <td>216285</td>
                      </tr>
                      <tr>
                        <th>2022</th>
                        <td>212634</td>
                      </tr>
                      <tr>
                        <th>2023</th>
                        <td>147000</td>
                      </tr>
                      <tr>
                        <th>2024</th>
                        <td>96735</td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="1" class="dataframe">
                    <thead>
                      <tr style="text-align: right;">
                        <th></th>
                        <th>Средняя зарплата</th>
                      </tr>
                      <tr>
                        <th>Год</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>2005</th>
                        <td>153117</td>
                      </tr>
                      <tr>
                        <th>2006</th>
                        <td>153085</td>
                      </tr>
                      <tr>
                        <th>2007</th>
                        <td>165133</td>
                      </tr>
                      <tr>
                        <th>2008</th>
                        <td>118105</td>
                      </tr>
                      <tr>
                        <th>2009</th>
                        <td>64599</td>
                      </tr>
                      <tr>
                        <th>2010</th>
                        <td>56347</td>
                      </tr>
                      <tr>
                        <th>2011</th>
                        <td>61180</td>
                      </tr>
                      <tr>
                        <th>2012</th>
                        <td>57649</td>
                      </tr>
                      <tr>
                        <th>2013</th>
                        <td>63528</td>
                      </tr>
                      <tr>
                        <th>2014</th>
                        <td>56460</td>
                      </tr>
                      <tr>
                        <th>2015</th>
                        <td>56200</td>
                      </tr>
                      <tr>
                        <th>2016</th>
                        <td>67315</td>
                      </tr>
                      <tr>
                        <th>2017</th>
                        <td>67329</td>
                      </tr>
                      <tr>
                        <th>2018</th>
                        <td>77627</td>
                      </tr>
                      <tr>
                        <th>2019</th>
                        <td>77814</td>
                      </tr>
                      <tr>
                        <th>2020</th>
                        <td>77952</td>
                      </tr>
                      <tr>
                        <th>2021</th>
                        <td>145670</td>
                      </tr>
                      <tr>
                        <th>2022</th>
                        <td>98731</td>
                      </tr>
                      <tr>
                        <th>2023</th>
                        <td>99540</td>
                      </tr>
                      <tr>
                        <th>2024</th>
                        <td>109468</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <img class="all_graph_3" src={% static "images/geography_dolya_vac_general.png" %}/>
            <img class="all_graph_4" src={% static "images/geography_salary_levels_general.png" %}/>
            <div class="tables_2">
                <table border="1" class="dataframe">
                    <thead>
                      <tr style="text-align: right;">
                        <th></th>
                        <th>Уровень зарплат</th>
                      </tr>
                      <tr>
                        <th>Город</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Москва</th>
                        <td>110235</td>
                      </tr>
                      <tr>
                        <th>Минск</th>
                        <td>102546</td>
                      </tr>
                      <tr>
                        <th>Санкт-Петербург</th>
                        <td>91915</td>
                      </tr>
                      <tr>
                        <th>Новосибирск</th>
                        <td>85362</td>
                      </tr>
                      <tr>
                        <th>Екатеринбург</th>
                        <td>81455</td>
                      </tr>
                      <tr>
                        <th>Казань</th>
                        <td>72868</td>
                      </tr>
                      <tr>
                        <th>Нижний Новгород</th>
                        <td>69073</td>
                      </tr>
                      <tr>
                        <th>Самара</th>
                        <td>67633</td>
                      </tr>
                      <tr>
                        <th>Краснодар</th>
                        <td>67197</td>
                      </tr>
                      <tr>
                        <th>Алматы</th>
                        <td>65689</td>
                      </tr>
                      <tr>
                        <th>Челябинск</th>
                        <td>64299</td>
                      </tr>
                      <tr>
                        <th>Уфа</th>
                        <td>62750</td>
                      </tr>
                      <tr>
                        <th>Красноярск</th>
                        <td>60552</td>
                      </tr>
                      <tr>
                        <th>Пермь</th>
                        <td>60204</td>
                      </tr>
                      <tr>
                        <th>Воронеж</th>
                        <td>59963</td>
                      </tr>
                      <tr>
                        <th>Ростов-на-Дону</th>
                        <td>59061</td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="1" class="dataframe">
                    <thead>
                      <tr style="text-align: right;">
                        <th></th>
                        <th>Доля вакансий</th>
                      </tr>
                      <tr>
                        <th>Город</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Москва</th>
                        <td>0.2851</td>
                      </tr>
                      <tr>
                        <th>Санкт-Петербург</th>
                        <td>0.1040</td>
                      </tr>
                      <tr>
                        <th>Новосибирск</th>
                        <td>0.0248</td>
                      </tr>
                      <tr>
                        <th>Казань</th>
                        <td>0.0221</td>
                      </tr>
                      <tr>
                        <th>Екатеринбург</th>
                        <td>0.0219</td>
                      </tr>
                      <tr>
                        <th>Алматы</th>
                        <td>0.0211</td>
                      </tr>
                      <tr>
                        <th>Нижний Новгород</th>
                        <td>0.0202</td>
                      </tr>
                      <tr>
                        <th>Минск</th>
                        <td>0.0199</td>
                      </tr>
                      <tr>
                        <th>Краснодар</th>
                        <td>0.0185</td>
                      </tr>
                      <tr>
                        <th>Ростов-на-Дону</th>
                        <td>0.0180</td>
                      </tr>
                      <tr>
                        <th>Самара</th>
                        <td>0.0133</td>
                      </tr>
                      <tr>
                        <th>Воронеж</th>
                        <td>0.0129</td>
                      </tr>
                      <tr>
                        <th>Красноярск</th>
                        <td>0.0117</td>
                      </tr>
                      <tr>
                        <th>Уфа</th>
                        <td>0.0113</td>
                      </tr>
                      <tr>
                        <th>Пермь</th>
                        <td>0.0108</td>
                      </tr>
                      <tr>
                        <th>Челябинск</th>
                        <td>0.0103</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <img class="all_graph_5" src={% static "images/skills_graph_general.png" %}/>
            <div class="tables_skills_2">
                <table border='1'>
                    <tr><th>Год</th><th>SQL</th><th>Git</th><th>JavaScript</th><th>Linux</th><th>Python</th><th>Java</th><th>Английский язык</th><th>PostgreSQL</th><th>PHP</th><th>Управление проектами</th><th>HTML</th><th>MySQL</th><th>CSS</th><th>Adobe Photoshop</th><th>Работа в команде</th><th>ООП</th><th>1С программирование</th><th>Atlassian Jira</th><th>1С: Предприятие 8</th><th>HTML5</th></tr>
                    <tr><td>2015</td><td>1983</td><td>2947</td><td>4128</td><td>1755</td><td>1028</td><td>3064</td><td>805</td><td>779</td><td>2838</td><td>1323</td><td>3094</td><td>2514</td><td>2732</td><td>1075</td><td>621</td><td>3324</td><td>621</td><td>292</td><td>420</td><td>3042</td></tr>
                    <tr><td>2016</td><td>6088</td><td>8845</td><td>13245</td><td>5467</td><td>3872</td><td>7364</td><td>2912</td><td>3125</td><td>8519</td><td>4738</td><td>7892</td><td>7598</td><td>7004</td><td>3362</td><td>2496</td><td>6077</td><td>2671</td><td>1150</td><td>2007</td><td>6974</td></tr>
                    <tr><td>2017</td><td>9149</td><td>13775</td><td>20934</td><td>8443</td><td>5497</td><td>9278</td><td>4485</td><td>5061</td><td>12625</td><td>6197</td><td>12179</td><td>10797</td><td>11404</td><td>4389</td><td>3317</td><td>8686</td><td>4162</td><td>2198</td><td>3281</td><td>9131</td></tr>
                    <tr><td>2018</td><td>15817</td><td>22067</td><td>29987</td><td>13570</td><td>10616</td><td>14957</td><td>7408</td><td>8303</td><td>17354</td><td>9804</td><td>18406</td><td>15946</td><td>17140</td><td>5866</td><td>5174</td><td>10671</td><td>6635</td><td>3838</td><td>5670</td><td>12442</td></tr>
                    <tr><td>2019</td><td>24947</td><td>29272</td><td>34462</td><td>19193</td><td>16312</td><td>19779</td><td>13795</td><td>11737</td><td>18599</td><td>13458</td><td>20111</td><td>17149</td><td>19357</td><td>6780</td><td>8454</td><td>12587</td><td>9807</td><td>7039</td><td>8219</td><td>12408</td></tr>
                    <tr><td>2020</td><td>55673</td><td>54175</td><td>45601</td><td>37073</td><td>31482</td><td>36247</td><td>29816</td><td>24264</td><td>23335</td><td>22827</td><td>25139</td><td>25069</td><td>24759</td><td>11571</td><td>16562</td><td>19843</td><td>16280</td><td>19841</td><td>14723</td><td>14994</td></tr>
                    <tr><td>2021</td><td>99659</td><td>91194</td><td>67863</td><td>59242</td><td>57399</td><td>52022</td><td>66985</td><td>39965</td><td>34274</td><td>43676</td><td>35478</td><td>34995</td><td>33567</td><td>31155</td><td>37458</td><td>30590</td><td>25406</td><td>35506</td><td>23486</td><td>21280</td></tr>
                    <tr><td>2022</td><td>94714</td><td>84715</td><td>54551</td><td>58038</td><td>54491</td><td>41935</td><td>60410</td><td>40798</td><td>31211</td><td>42860</td><td>27675</td><td>29330</td><td>24160</td><td>38267</td><td>36684</td><td>28208</td><td>29417</td><td>29029</td><td>25854</td><td>15124</td></tr>
                    <tr><td>2023</td><td>65111</td><td>46796</td><td>31575</td><td>39299</td><td>40385</td><td>26007</td><td>22349</td><td>33873</td><td>23535</td><td>25133</td><td>17270</td><td>19451</td><td>14801</td><td>27279</td><td>23004</td><td>14745</td><td>24757</td><td>14779</td><td>19070</td><td>8589</td></tr>
                    <tr><td>2024</td><td>51288</td><td>28522</td><td>20106</td><td>27367</td><td>30650</td><td>19858</td><td>12786</td><td>25602</td><td>13913</td><td>10101</td><td>11373</td><td>11582</td><td>8396</td><td>16893</td><td>8742</td><td>7117</td><td>16403</td><td>9863</td><td>12812</td><td>4653</td></tr>
                    </table>
            </div>
        </div>
    </div>
</main>
<footer>
  <p>Бабайлов Максим Валерьевич АТ-13</p>
</footer>
</body>
</html>