{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        <img src="{% static 'images/logotip.png' %}" class="logo"/>
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 1500px;">
            <nav>
                <ul>
                    <li><div><a href="/">Главная</a></div></li>
                    <li><div><a href={% url 'all' %}>Общая статистика</a></div></li>
                    <li><div style="background-color: #FAB162;"><a style="color: #FFFFFF !important;" href={% url 'demend' %}>Востребованность</a></div></li>
                    <li><div><a href={% url 'geography' %}>География</a></div></li>
                    <li><div><a href={% url 'skills' %}>Навыки</a></div></li>
                    <li><div><a href={% url 'lastVacancy' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text" style="top: 200px">
            <img class="demand_graph_1" src="{% static 'images/1.png' %}"/>
            <img class="demand_graph_2" src="{% static 'images/2.png' %}"/>
            <div class="tables">
              <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Количество вакансий - python</th>
                  </tr>
                  <tr>
                    <th>Год</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>2006</th>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th>2007</th>
                    <td>4</td>
                  </tr>
                  <tr>
                    <th>2008</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th>2009</th>
                    <td>26</td>
                  </tr>
                  <tr>
                    <th>2010</th>
                    <td>73</td>
                  </tr>
                  <tr>
                    <th>2011</th>
                    <td>149</td>
                  </tr>
                  <tr>
                    <th>2012</th>
                    <td>254</td>
                  </tr>
                  <tr>
                    <th>2013</th>
                    <td>452</td>
                  </tr>
                  <tr>
                    <th>2014</th>
                    <td>397</td>
                  </tr>
                  <tr>
                    <th>2015</th>
                    <td>427</td>
                  </tr>
                  <tr>
                    <th>2016</th>
                    <td>569</td>
                  </tr>
                  <tr>
                    <th>2017</th>
                    <td>822</td>
                  </tr>
                  <tr>
                    <th>2018</th>
                    <td>1278</td>
                  </tr>
                  <tr>
                    <th>2019</th>
                    <td>1327</td>
                  </tr>
                  <tr>
                    <th>2020</th>
                    <td>1614</td>
                  </tr>
                  <tr>
                    <th>2021</th>
                    <td>2853</td>
                  </tr>
                  <tr>
                    <th>2022</th>
                    <td>2269</td>
                  </tr>
                  <tr>
                    <th>2023</th>
                    <td>1615</td>
                  </tr>
                  <tr>
                    <th>2024</th>
                    <td>1061</td>
                  </tr>
                </tbody>
              </table>
              <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Количество вакансий</th>
                  </tr>
                  <tr>
                    <th>Год</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>2005</th>
                    <td>1836</td>
                  </tr>
                  <tr>
                    <th>2006</th>
                    <td>16229</td>
                  </tr>
                  <tr>
                    <th>2007</th>
                    <td>24000</td>
                  </tr>
                  <tr>
                    <th>2008</th>
                    <td>30627</td>
                  </tr>
                  <tr>
                    <th>2009</th>
                    <td>20989</td>
                  </tr>
                  <tr>
                    <th>2010</th>
                    <td>31930</td>
                  </tr>
                  <tr>
                    <th>2011</th>
                    <td>42282</td>
                  </tr>
                  <tr>
                    <th>2012</th>
                    <td>49309</td>
                  </tr>
                  <tr>
                    <th>2013</th>
                    <td>68149</td>
                  </tr>
                  <tr>
                    <th>2014</th>
                    <td>75828</td>
                  </tr>
                  <tr>
                    <th>2015</th>
                    <td>78934</td>
                  </tr>
                  <tr>
                    <th>2016</th>
                    <td>85740</td>
                  </tr>
                  <tr>
                    <th>2017</th>
                    <td>95811</td>
                  </tr>
                  <tr>
                    <th>2018</th>
                    <td>149308</td>
                  </tr>
                  <tr>
                    <th>2019</th>
                    <td>130763</td>
                  </tr>
                  <tr>
                    <th>2020</th>
                    <td>144260</td>
                  </tr>
                  <tr>
                    <th>2021</th>
                    <td>216285</td>
                  </tr>
                  <tr>
                    <th>2022</th>
                    <td>212634</td>
                  </tr>
                  <tr>
                    <th>2023</th>
                    <td>147000</td>
                  </tr>
                  <tr>
                    <th>2024</th>
                    <td>96735</td>
                  </tr>
                </tbody>
              </table>
              <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Средняя зарплата - python</th>
                  </tr>
                  <tr>
                    <th>Год</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>2006</th>
                    <td>97576</td>
                  </tr>
                  <tr>
                    <th>2007</th>
                    <td>220166</td>
                  </tr>
                  <tr>
                    <th>2008</th>
                    <td>125776</td>
                  </tr>
                  <tr>
                    <th>2009</th>
                    <td>60902</td>
                  </tr>
                  <tr>
                    <th>2010</th>
                    <td>73684</td>
                  </tr>
                  <tr>
                    <th>2011</th>
                    <td>102760</td>
                  </tr>
                  <tr>
                    <th>2012</th>
                    <td>87471</td>
                  </tr>
                  <tr>
                    <th>2013</th>
                    <td>94007</td>
                  </tr>
                  <tr>
                    <th>2014</th>
                    <td>82955</td>
                  </tr>
                  <tr>
                    <th>2015</th>
                    <td>96679</td>
                  </tr>
                  <tr>
                    <th>2016</th>
                    <td>105208</td>
                  </tr>
                  <tr>
                    <th>2017</th>
                    <td>104963</td>
                  </tr>
                  <tr>
                    <th>2018</th>
                    <td>130827</td>
                  </tr>
                  <tr>
                    <th>2019</th>
                    <td>133106</td>
                  </tr>
                  <tr>
                    <th>2020</th>
                    <td>142449</td>
                  </tr>
                  <tr>
                    <th>2021</th>
                    <td>170668</td>
                  </tr>
                  <tr>
                    <th>2022</th>
                    <td>206962</td>
                  </tr>
                  <tr>
                    <th>2023</th>
                    <td>193335</td>
                  </tr>
                  <tr>
                    <th>2024</th>
                    <td>193506</td>
                  </tr>
                </tbody>
              </table>
              <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Средняя зарплата</th>
                  </tr>
                  <tr>
                    <th>Год</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>2005</th>
                    <td>153117</td>
                  </tr>
                  <tr>
                    <th>2006</th>
                    <td>153085</td>
                  </tr>
                  <tr>
                    <th>2007</th>
                    <td>165133</td>
                  </tr>
                  <tr>
                    <th>2008</th>
                    <td>118105</td>
                  </tr>
                  <tr>
                    <th>2009</th>
                    <td>64599</td>
                  </tr>
                  <tr>
                    <th>2010</th>
                    <td>56347</td>
                  </tr>
                  <tr>
                    <th>2011</th>
                    <td>61180</td>
                  </tr>
                  <tr>
                    <th>2012</th>
                    <td>57649</td>
                  </tr>
                  <tr>
                    <th>2013</th>
                    <td>63528</td>
                  </tr>
                  <tr>
                    <th>2014</th>
                    <td>56460</td>
                  </tr>
                  <tr>
                    <th>2015</th>
                    <td>56200</td>
                  </tr>
                  <tr>
                    <th>2016</th>
                    <td>67315</td>
                  </tr>
                  <tr>
                    <th>2017</th>
                    <td>67329</td>
                  </tr>
                  <tr>
                    <th>2018</th>
                    <td>77627</td>
                  </tr>
                  <tr>
                    <th>2019</th>
                    <td>77814</td>
                  </tr>
                  <tr>
                    <th>2020</th>
                    <td>77952</td>
                  </tr>
                  <tr>
                    <th>2021</th>
                    <td>145670</td>
                  </tr>
                  <tr>
                    <th>2022</th>
                    <td>98731</td>
                  </tr>
                  <tr>
                    <th>2023</th>
                    <td>99540</td>
                  </tr>
                  <tr>
                    <th>2024</th>
                    <td>109468</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</main>
<footer>
  <p>Лысенков Семен АТ-08</p>
</footer>
</body>
</html>