{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        <img src="{% static 'images/logotip.png' %}" class="logo"/>
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 1500px;">
            <nav>
                <ul>
                    <li><div><a href="/">Главная</a></div></li>
                    <li><div><a href={% url 'all' %}>Общая статистика</a></div></li>
                    <li><div><a href={% url 'demend' %}>Востребованность</a></div></li>
                    <li><div style="background-color: #FAB162;"><a style="color: #FFFFFF !important;" href={% url 'geography' %}>География</a></div></li>
                    <li><div><a href={% url 'skills' %}>Навыки</a></div></li>
                    <li><div><a href={% url 'lastVacancy' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text" style="top: 200px">
          {% for data in context %}
          <img class="demand_graph_1" src="{{ data.salary_graph_by_city.url }}"/>
          <img class="demand_graph_2" src="{{ data.vacancy_fraction_by_city.url }}"/>
          <div class="tables">
              {{ data.table|safe }}
          </div>
      {% endfor %}
        </div>
    </div>
</main>
<footer>
  <p>Лысенков Семен АТ-08</p>
</footer>
</body>
</html>